<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" />
    <title>Login | IG SNA</title>
</head>
<body>
    <div class="container" style="width: 500px;">
        <img src="../static/login.gif" alt="social network analysis" class="logo" />
        <h1>Login | Social Network Analysis</h1>
        <form method="POST">
            <div class="form-group">
                <input type="text" name="nama" placeholder="username">
            </div>
            <div class="form-group">
                <input type="password" name="sandi" placeholder="password">
            </div>
            <input type="submit" value="Login" class="btn-standar"  />
        </form>
    </div>
</body>
</html>